.headerLogo{
    height: auto;
    width: 750px;
    margin: 0 auto;
    display: block;
    margin-bottom: -50px;
    margin-top: -50px;
    z-index: -1;
    position: relative;
}
.Itrailer{
    margin: 0 auto 20px;
    display: block;
}
.wishListButton{
    background: linear-gradient(90deg, #3fae3f, #1d9847);
    padding: 20px;
    text-decoration: none;
    color: white;
    box-shadow: 7px 7px 0 black;
    border: solid 4px black;
    text-shadow: 0.3px 0.3px 0.3px #161616;
}
.wishListButton:hover{
    box-shadow: 0px 0px 0 black;
    background: linear-gradient(90deg, #09f109, #1d9847);
    transform: translate(2px, 2px);
}

.horizontalLayout{
    width: fit-content;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    gap:20px;
}
.textBox{
    width: 48%;
    margin: 0 auto;
    display: block;
    color: #f9ffea;
    margin-bottom: 50px;
    font-size: 1.1em;
    text-align: center;
    margin-top: 30px;
}
@media(max-width:550px){
    .textBox{
        font-size:0.9rem;
        width: 80%;
    }
}
.MechanicContainer{
    width: 600px;
    margin: 0 auto;
}
.panelContainer{
    max-width: 100%;
    width: 600px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
}
.mechanicShortDescription{
    position: absolute;
    top: 86%;
    left: 5%;
    transform: translate(-5%, 10%);
    text-align: left;
}

@media(max-width:550px){
    .mechanicShortDescription{
        font-size:0.7rem;
        top: 82%;
    }
}

.footer{
    text-decoration: none;
}
.socials{
    padding: 10px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.social{
    color: white;
}

.characterContainer{
    position: relative;
    width: 80%;                  
    max-width: 600px;           
    aspect-ratio: 600 / 650; 
    margin: 0 auto;
    margin-bottom: 50px;
    background: #3b5347;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 0 black;
    border: solid 3px black;
    border-top-right-radius: 45px;
    box-sizing: border-box; 
}

@media(max-width:550px){
    .characterContainer{
        width: 300px;
        height: 325px;
    }
}

.characterImg{
    width: 100%;
}

.characterScreen{
    background: linear-gradient(36deg, black, #514f4f);
    width: 80%;
    margin: 0 auto;
    border: solid 3px black;
    height: 80%;
    overflow: hidden;
}

.charName{
    position: relative;
    font-family: "segment14", opentype;
    color: #d9ff00;
    right: -5%;
}

.charAttr{
    font-family: "segment14", opentype;
    color: #d9ff00;
}

.charAttrLeft{
    right: -4%;
}
.charAttrRight{
    left: -4%;
}

.attrContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -90px;
    padding: 10px;
}

.characterButtonsContainer {
    position: absolute;
    top: 190px;
    right: -53px;
    display: grid;
    gap: 4px;
    color: white;
    z-index: 10;          
}

.characterButton{
    all: unset;
    cursor: pointer;
    padding: 20px;
    border: solid 3px black;
    width: 100px;
    text-align: center;
    background: #276746;
    box-shadow: 7px 7px 0 black;
}

@media(max-width:550px){
    .characterButton{
        width: 50px;
        padding:10px;
    }
    .characterButtonsContainer{
        right: -24px;
    }
    .charName{
        font-size:0.7rem;
    }
    .charAttr{
        font-size: 0.7rem;
    }
    .attrContainer{
        margin-top: -74px;
    }
}

.characterButton:hover{
    transform: translate(2px, 2px);
    box-shadow: none;
    background:#178f51;
}

.NavbarContainer{
    width: 100%;
    background: #ae9e00;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}
.NavbarContainer > div{
    width: 200px;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavbarContainer > div:hover{
    background: linear-gradient(81deg, transparent, #d685f331, transparent);
}

.NavbarContainer > div > a {
    text-decoration: none;
    color: black;
}

@media(max-width: 500px){
    .NavbarContainer > div > a{
        font-size: 0.8rem;
    }
}

@media (hover: hover) {
    .NavbarContainer > div > a:hover {
        font-size:1.1em;
    }
}

.steamContainer{
    background: #171a21;
    width: 500px;
    margin: 0 auto;
    border-radius: 90px;
    border: solid #162332;
    box-shadow: 3px 6px 1px #162332;
    max-width: 95%;
}
.steamLogo{
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translate(-69px, 10px);
    color: ghostwhite;
}

@media(max-width:550px){
    .wishListButton{
        padding:10px;
    }
    .steamLogo{
        width: 40px;
        height: 40px;
        transform: translate(-50px, 5px);
    }
}